.web-server-pid
app/config/parameters.yml
build/
phpunit.xml
var/*
!/var/cache
var/cache/*
!var/logs
var/logs/*
!var/sessions
var/sessions/*
!var/SymfonyRequirements.php
vendor/
web/bundles/
app/cache
app/cache/*
app/logs
app/logs/*
app/bootstrap.php.cache
.idea
ci_testing/
