parameters:
    google_analytics: ~
    site_name: 'Your Institution - More DSpace Stats'
    cacheTTL: '12 hours'
    DSpaceBaseUrl: 'https://your.dspace.edu'
    solrSearchCore: https://your.dspace.edu:443/readonlysolr/search
    solrStatisticsCore: https://your.dspace.edu:443/readonlysolr/statistics
    secret: YouReallyOughtaSetSomethingForCSRF
