<div class="formbar">
    <br/>
    <div class="row">
        <form  role="form" action="{{ path('scholar_works_stats_homepage') }}" method="get">

            <div class="col-md-2 col-lg-2">
                <div class="region-control">
                    <label for="region">Region:                    </label>
                        <input id="region"  name="region" type="hidden" class="form-control" value="{{ statistics.region.displayId }}" readonly/><br/>
                        <span>{{ statistics.region.name }}</span>

                </div>
            </div>


            <div class="col-md-2 col-lg-2">
                <label for="from">From:&nbsp&nbsp                </label>
                    <input class="form-control" type="text" id="from" name="from" width="15">

            </div>

            <div class="col-md-2 col-lg-2">
                <label for="to">&nbspTo:&nbsp                </label>
                    <input class="form-control" type="text" id="to" name="to">

            </div>
            <div class="col-md-2 col-lg-2">
                <button class="btn btn-default submit-button" type="submit" value="Update View">Update View</button>
            </div>
        </form>
    </div>
</div>
